a.social-link {
	display:inline;
	background-color: #aaa;
	color:#fff !important;
	text-decoration:none;
	padding:6px 12px;
	margin: 0;
	-webkit-transition: background 0.1s linear;
	-moz-transition: background 0.1s linear;
	-ms-transition: background 0.1s linear;
	-o-transition: background 0.1s linear;
	transition: background 0.1s linear;
}
a:hover.facebook {
	background-color:#4a66b7;
}
a:hover.github {
	background-color :green;
}
a:hover.linkedin {
	background-color:#1b86bc;
}
